<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Resources">
            <directory suffix="Test.php">./tests/Resources</directory>
        </testsuite>
        <testsuite name="Collections">
            <directory suffix="Test.php">./tests/Collections</directory>
        </testsuite>
        <testsuite name="Mock Methods">
            <directory suffix="Test.php">./tests/Methods/Mock</directory>
        </testsuite>
        <testsuite name="Methods">
            <directory suffix="Test.php">./tests/Methods</directory>
            <exclude>./tests/Methods/Mock</exclude>
        </testsuite>
        <testsuite name="Api">
            <file>./tests/ApiMockTest.php</file>
            <file>./tests/ApiTest.php</file>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
</phpunit>
